  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Ensures the spinner is fixed relative to the viewport */
    top: 0;
    left: 0;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
  }
  
  .spinner-wrapper {
    position: relative; /* Container for positioning the spinner */
    display: flex;
    justify-content: center;
    width: 100%; /* Full width container */
  }
  
  .spinner-wrapper .spinner {
    position: relative; /* Position relative to the wrapper */
    left: -10%; /* Move the spinner 10% to the left */
  }